<div id="aw-home-container">
  <div id="aw-home-header-container">
    <h1>Archway</h1>
    <!-- Put Archway Logo here-->
  </div>
  <main id="aw-home-main">
    <div id="aw-archway-description">
      Welcome to <em><strong>Archway</strong></em>! An <%= link_to "Arch", "https://archlinux.org", target: "_blank" %> based Linux distribution (widely called a 
      <em>Distro</em>). 
      <br>Archway prioritises education and accessibility for the package list. Though it can also be used as a daily drive 
      <abbr title="distribution"><em>distro</em></abbr>. 
    </div>
  </main>
</div>
