/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
[data-theme="dark"] {
  background-color: /*dark grey*/;
  color: white;
}
[data-theme="omled"] {
  background-color: black;
  color: white;
}
[data-theme="light"] {
  background-color: /*light grey*/;
  color: ;
}

// Navbar
.nav-list {
}
.nav-item {
}
.nav-link {
}

// Positions
.flex {
}
.position {
  display: flex;
  .left {
  }
  .centre {
  }
  .right {
  }
}
